# Basic maxscale configuration – 1 thread should be enough for the binlog server purpose
[maxscale]
threads=1
piddir={{ data_dir }}
cachedir={{ data_dir }}
logdir={{ log_dir }}
datadir={{ data_dir }}
admin_port={{ maxscale_admin_port }}


# MaxScale as a slave – setup the router service to fetch the binlogs
[Replication]
type=service
router=binlogrouter
version_string=10.1-maxscale
user={{ replication_user }}
passwd={{ replication_password }}
router_options=server_id={{ maxscale_server_id }},user={{ replication_user }},password={{ replication_password }},master_id={{ master_server_id }},heartbeat=30,binlogdir={{ data_dir }},transaction_safety=1,mariadb10-compatibility={{ mariadb10_compatibility }}

# MaxScale as a master – a slave can connect to this listener to have the binlog files served.
[Replication Listener]
type=listener
service=Replication
protocol=MySQLClient
port={{ maxscale_listen_port }}

# CLI to do management tasks
[MaxAdmin Service]
type=service
router=cli

# Listener for CLI – we could also change this to use TCP/IP but socket is easier, this more easily removes collisions.
[MaxAdmin Listener]
type=listener
service=MaxAdmin Service
protocol=maxscaled
socket={{ data_dir }}/maxscale.sock
