[Unit]
Description=MariaDB MaxScale binlog server for %I
After=network.target

[Service]
Type=forking
Restart=on-abort
PIDFile={{ data_dir }}/maxscale.pid
ExecStart=/usr/bin/maxscale --user=maxscale --config={{ config_dir }}/%i.cnf
TimeoutStartSec=120
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
