[Unit]
Description=Point-in-Time recovery health check socket {{ pitr_health_check_port | default(9200) }}

[Socket]
ListenStream={{ pitr_health_check_port | default(9200) }}
Accept=yes

[Install]
WantedBy=sockets.target
